{{define "BOOTSTRAP_HEAD_SECTION"}}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="fixme">
    <link rel="shortcut icon" href="/fixme.ico">

    <title>{{.title}}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/fixed/bootstrap-3.3.1.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom styles for this page -->
    <link href="{{.css_page}}" rel="stylesheet"/>
  </head>
{{end}}
