{{define "PAGE_NAV_BAR"}}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://seven5.github.io/tutorial.html">Tutorial</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="nav-left" class="nav navbar-nav">
        </ul>
        <ul id="nav-right" class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </nav>
{{end}}

{{define "PAGE_ERR_AREA"}}
  <div id="err-region" class="row" style="display:none;">
    <h5 id="err-text" class="col-sm-offset-1 col-sm-10"></h5>
  </div>
{{end}}